# Ignore model directories
models/bart-large-cnn/
models/bart-large-mnli/
models/



# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/

# Docker-specific ignores (optional)
*.log
Dockerfile.bak